.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.company-grid {
    margin: 0 5%;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;

}

.box {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-block: 60px;
}

.box h4 {
    font-weight: 900;
    color: #970f14;
}

.hh {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hh hr {
    width: 90%;
    border-radius: 50px;
    border-top: 5px solid #970f14;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffff;
    border: 5px solid #970f14;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #970f14;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.company-one {
    margin: 0 auto;
  
    width: 80%;
    border-radius: 50%;
    border: 2px solid #970f14;
}